* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding-top: 50px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.nav-links li a:hover {
    opacity: 0.7;
}

.intro {
    text-align: center;
    padding: 50px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.intro h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 20px;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
}


.car-list {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.car-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color:#d8d8d8;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-image img {
    max-width: 350px;
    border-radius: 10px;
}

.car-description {
    max-width: 600px;
    padding: 0 30px;
}

.car-description h1 {
    font-size: 32px;
    margin-bottom: 15px;
}

.car-description p {
    font-size: 18px;
    margin-bottom: 20px;
}

.car-description h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 10px;
   
}

th {
    color:#000;
    background-color: #f4f4f4;
}

td {
    text-align: center;
}

.book-now-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.book-now-btn:hover {
    color:#fff;
    background-color: #050505;
}